data/flows.json
[
    {
        "id": "b48cde81.abc31",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5589de2c.c52a6",
        "type": "debug",
        "z": "b48cde81.abc31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "b322bd87.9d25d",
        "type": "inject",
        "z": "b48cde81.abc31",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "796258c4.9fc1f8",
        "type": "function",
        "z": "b48cde81.abc31",
        "name": "",
        "func": "//test que je vais garder\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 240,
        "wires": [
            []
        ]
    }
]